/* Slider */

.slick-slider {
  position: relative;
  display: block;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-touch-callout: none;
  -khtml-user-select: none;
  -ms-touch-action: pan-y;
  touch-action: pan-y;
  -webkit-tap-highlight-color: transparent;
}

.slick-list {
  position: relative;
  display: block;
  overflow: hidden;
  margin: 0;
  padding: 0;
}

.slick-list:focus {
  outline: none;
}

.slick-list.dragging {
  cursor: pointer;
  cursor: hand;
}

.slick-slider .slick-track,
.slick-slider .slick-list {
  -webkit-transform: translate3d(0, 0, 0);
  -ms-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
}

.slick-track {
  position: relative;
  top: 0;
  left: 0;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.slick-track:before,
.slick-track:after {
  display: table;
  content: '';
}

.slick-track:after {
  clear: both;
}

.slick-loading .slick-track {
  visibility: hidden;
}

.slick-slide {
  display: none;
  float: left;
  height: 100%;
  min-height: 1px;
}

[dir='rtl'] .slick-slide {
  float: right;
}

.slick-slide img {
  display: block;
}

.slick-slide.slick-loading img {
  display: none;
}

.slick-slide.dragging img {
  pointer-events: none;
}

.slick-initialized .slick-slide {
  display: block;
}

.slick-loading .slick-slide {
  visibility: hidden;
}

.slick-vertical .slick-slide {
  display: block;
  height: auto;
  border: 1px solid transparent;
}

.slick-arrow.slick-hidden {
  display: none;
}

@font-face {
  font-family: "Montserrat";
  font-display: swap;
  src: url("../fonts/Montserrat-Regular.woff") format("woff"), url("../fonts/Montserrat-Regular.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Montserrat";
  font-display: swap;
  src: url("../fonts/Montserrat-SemiBold.woff") format("woff"), url("../fonts/Montserrat-SemiBold.woff2") format("woff2");
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: "Montserrat";
  font-display: swap;
  src: url("../fonts/Montserrat-Bold.woff") format("woff"), url("../fonts/Montserrat-Bold.woff2") format("woff2");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: "Noto Sans";
  font-display: swap;
  src: url("../fonts/NotoSans-Regular.woff") format("woff"), url("../fonts/NotoSans-Regular.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Noto Sans";
  font-display: swap;
  src: url("../fonts/NotoSans-Bold.woff") format("woff"), url("../fonts/NotoSans-Bold.woff2") format("woff2");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: "Rodchenko";
  font-display: swap;
  src: url("../fonts/rodchenko.woff") format("woff"), url("../fonts/rodchenko.woff2") format("woff2");
  font-weight: 700;
  font-style: normal;
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0;
  margin: 0;
}

li {
  list-style-type: none;
}

body {
  background: #0b0b0b;
  font-family: Montserrat;
  font-weight: 400;
  font-size: 14px;
  color: #fff;
}

.container {
  max-width: 1168px;
  margin: 0 auto;
  padding: 0 10px;
}

.button {
  border: 3px solid #69692c;
  padding: 14.5px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: transparent;
  font-family: Rodchenko;
  font-size: 14px;
  line-height: 1;
  letter-spacing: 1.82px;
  text-transform: uppercase;
  text-decoration: none;
  white-space: nowrap;
  color: #fff;
  width: 161px;
  cursor: pointer;
  -webkit-transition: 0.3s ease all 0s;
  -o-transition: 0.3s ease all 0s;
  transition: 0.3s ease all 0s;
}

.button::after {
  content: '';
  background: url(../img/icons/btnhov.svg) no-repeat right;
  opacity: 0;
  width: 0;
  height: 13px;
  -webkit-transition: 0.3s ease all 0s;
  -o-transition: 0.3s ease all 0s;
  transition: 0.3s ease all 0s;
}

.button:hover::after {
  display: block;
  opacity: 1;
  width: 18px;
  height: 13px;
  padding-left: 8px;
}

.button-bg {
  background: #69692c;
  width: 128px;
}

.title {
  font-weight: 600;
  font-size: calc(24px + 14 * ((100vw - 320px) / (1440 - 320)));
  line-height: calc(57 / 38);
}

.title-with-points {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.title-with-points::before {
  content: '';
  display: block;
  width: 35px;
  height: 35px;
  background: url(../img/icons/title-points.svg) no-repeat left/contain;
  padding-right: 24px;
}

.input-wrapper {
  position: relative;
}

.input-wrapper__text {
  width: 100%;
  font-weight: 500;
  font-size: 16px;
  line-height: 28px;
  margin-bottom: 10px;
  color: #000;
  border: 1px solid #000;
  border-radius: 0;
  padding: 9px 16px;
}

.input-wrapper__text::-webkit-input-placeholder {
  color: #7d838c;
  opacity: 1;
  -webkit-transition: 0.5s ease all 0s;
  transition: 0.5s ease all 0s;
}

.input-wrapper__text::-moz-placeholder {
  color: #7d838c;
  opacity: 1;
  -moz-transition: 0.5s ease all 0s;
  transition: 0.5s ease all 0s;
}

.input-wrapper__text:-ms-input-placeholder {
  color: #7d838c;
  opacity: 1;
  -ms-transition: 0.5s ease all 0s;
  transition: 0.5s ease all 0s;
}

.input-wrapper__text::-ms-input-placeholder {
  color: #7d838c;
  opacity: 1;
  -ms-transition: 0.5s ease all 0s;
  transition: 0.5s ease all 0s;
}

.input-wrapper__text::placeholder {
  color: #7d838c;
  opacity: 1;
  -webkit-transition: 0.5s ease all 0s;
  -o-transition: 0.5s ease all 0s;
  transition: 0.5s ease all 0s;
}

.input-wrapper__text:focus {
  outline: 0;
}

.input-wrapper__text:focus::-webkit-input-placeholder {
  opacity: 0;
}

.input-wrapper__text:focus::-moz-placeholder {
  opacity: 0;
}

.input-wrapper__text:focus:-ms-input-placeholder {
  opacity: 0;
}

.input-wrapper__text:focus::-ms-input-placeholder {
  opacity: 0;
}

.input-wrapper__text:focus::placeholder {
  opacity: 0;
}

.input-wrapper input[type="radio"] {
  display: none;
}

.input-wrapper input[type="checkbox"] {
  display: none;
}

.input-wrapper__label {
  padding-left: 36px;
  cursor: pointer;
  position: relative;
  line-height: 24px;
  font-size: calc(13px + 3 * ((100vw - 320px) / (1440 - 320)));
  line-height: calc(24 / 16);
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

.input-wrapper__label::before {
  content: "";
  width: 24px;
  height: 24px;
  position: absolute;
  top: 0;
  left: 0;
  background: #fff;
  border: 1px solid #000;
}

.input-wrapper--radio input[type="radio"] + label:before {
  border-radius: 50%;
}

.input-wrapper--radio input[type="radio"]:checked + label:before {
  border-width: 8px;
}

.input-wrapper--check input[type="checkbox"]:checked + label:before {
  content: "\2713";
  line-height: 23px;
  padding-left: 4px;
}

@-webkit-keyframes right-rotate {
  from {
    -webkit-transform: translate(-50%, -50%) rotate(0deg);
            transform: translate(-50%, -50%) rotate(0deg);
  }

  to {
    -webkit-transform: translate(-50%, -50%) rotate(360deg);
            transform: translate(-50%, -50%) rotate(360deg);
  }
}

@keyframes right-rotate {
  from {
    -webkit-transform: translate(-50%, -50%) rotate(0deg);
            transform: translate(-50%, -50%) rotate(0deg);
  }

  to {
    -webkit-transform: translate(-50%, -50%) rotate(360deg);
            transform: translate(-50%, -50%) rotate(360deg);
  }
}

@-webkit-keyframes left-rotate {
  from {
    -webkit-transform: translate(-50%, -50%) rotate(0deg);
            transform: translate(-50%, -50%) rotate(0deg);
  }

  to {
    -webkit-transform: translate(-50%, -50%) rotate(-360deg);
            transform: translate(-50%, -50%) rotate(-360deg);
  }
}

@keyframes left-rotate {
  from {
    -webkit-transform: translate(-50%, -50%) rotate(0deg);
            transform: translate(-50%, -50%) rotate(0deg);
  }

  to {
    -webkit-transform: translate(-50%, -50%) rotate(-360deg);
            transform: translate(-50%, -50%) rotate(-360deg);
  }
}

.header__body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
  padding: 45px 0;
}

.header__logo {
  z-index: 5;
}

.header__burger {
  display: none;
}

.header__menu {
  z-index: 4;
}

.header__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
}

.header__item {
  margin-right: 60px;
}

.header__item:last-child {
  margin-right: 0;
}

.header__link {
  font-weight: 700;
  font-size: 16px;
  line-height: 1;
  color: #fff;
  text-decoration: none;
}

.logo__link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.logo__img {
  padding-right: 15px;
}

.no-webp .first-screen {
  background: url(../img/main/bg.png) no-repeat center/cover; }

.first-screen {
  position: relative;
  overflow: hidden;
}

.first-screen::after {
  content: "";
  position: absolute;
  bottom: 0;
  z-index: 2;
  display: block;
  width: 100%;
  height: 308px;
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(11, 11, 11, 0)), color-stop(83.77%, #0b0b0b));
  background: -o-linear-gradient(top, rgba(11, 11, 11, 0) 0%, #0b0b0b 83.77%);
  background: linear-gradient(180deg, rgba(11, 11, 11, 0) 0%, #0b0b0b 83.77%);
}

.first-screen__container {
  position: relative;
}

.first-screen__offer {
  position: relative;
  z-index: 3;
  padding: 13.1% 0;
  max-width: 600px;
}

.first-screen__absolute {
  z-index: 1;
  position: absolute;
}

.first-screen__point-first {
  top: 24.7%;
  left: 12px;
  -webkit-transform: translate(0, -50%);
      -ms-transform: translate(0, -50%);
          transform: translate(0, -50%);
  width: 26.5%;
}

.first-screen__point-first img {
  display: block;
  width: 100%;
  height: auto;
}

.first-screen__point-second {
  right: 15px;
  bottom: 56px;
  width: 55.7%;
}

.first-screen__point-second img {
  display: block;
  width: 100%;
  height: auto;
}

.first-screen__aim {
  right: -14.8%;
  top: -33.4%;
}

.main-offer__title {
  font-weight: 700;
  font-size: 60px;
  line-height: 66px;
  margin-bottom: 50px;
}

.main-offer__wrapper {
  padding: 0 85px 0 103px;
}

.main-offer__text {
  margin-bottom: 69px;
  font-size: 16px;
  line-height: 24px;
}

.main-offer__buttons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.main-offer__button {
  margin-right: 40px;
}

.main-offer__button:last-child {
  margin-right: 0;
}

.aim {
  opacity: 0.3;
}

.aim__first {
  position: relative;
  width: 798px;
  height: 716px;
}

.aim__first::before,
.aim__first::after {
  content: "";
  display: block;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  width: 100%;
}

.no-webp .aim__first::before {
  background: url(../img/main/aim/5.png) no-repeat center/cover; }

.aim__first::before {
  width: 798px;
  height: 716px;
  -webkit-animation: right-rotate 15s linear infinite;
          animation: right-rotate 15s linear infinite;
}

.no-webp .aim__first::after {
  background: url(../img/main/aim/1.png) no-repeat center/cover; }

.aim__first::after {
  width: 623px;
  height: 625px;
  -webkit-animation: left-rotate 10s linear infinite;
          animation: left-rotate 10s linear infinite;
}

.aim__second {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  width: 358px;
  height: 358px;
}

.aim__second::before,
.aim__second::after {
  content: "";
  display: block;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.no-webp .aim__second::before {
  background: url(../img/main/aim/4.png) no-repeat center/cover; }

.aim__second::before {
  width: 485px;
  height: 483px;
  -webkit-animation: right-rotate 8s linear infinite;
          animation: right-rotate 8s linear infinite;
}

.no-webp .aim__second::after {
  background: url(../img/main/aim/3.png) no-repeat center/cover; }

.aim__second::after {
  width: 366px;
  height: 366px;
  -webkit-animation: left-rotate 6s linear infinite;
          animation: left-rotate 6s linear infinite;
}

.catalog {
  padding: 49px 0;
}

.catalog__cards .slick-list {
  padding: 88px 0px 82px 0px;
}

.catalog__cards .slick-track {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0 -15px;
}

.catalog__cards .slick-arrow {
  -webkit-transform: translate(0, -46px);
      -ms-transform: translate(0, -46px);
          transform: translate(0, -46px);
}

.catalog__cards .slick-dots {
  padding-bottom: 40px;
}

.catalog__card {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 294px;
          flex: 0 0 294px;
  padding: 0 15px;
}

.catalog__card:focus {
  outline: none;
}

.catalog__button {
  width: 213px;
  padding: 20.5px 0;
  margin: 0 auto;
}

.card-item {
  -webkit-transition: 0.5s ease all 0s;
  -o-transition: 0.5s ease all 0s;
  transition: 0.5s ease all 0s;
}

.card-item__wrapper {
  background: #151515;
}

.card-item__top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-bottom: 37px;
  position: relative;
}

.card-item__left,
.card-item__right {
  position: absolute;
  top: 8px;
}

.card-item__left {
  left: 8px;
}

.card-item__right {
  right: 6px;
}

.card-item__point {
  padding: 5px;
}

.card-item__point::before {
  content: "";
  border-radius: 50%;
  background: #69692c;
  display: block;
  width: 10px;
  height: 10px;
}

.card-item__img {
  padding-top: 38px;
  width: 100%;
  max-width: 190px;
  -webkit-transition: 0.3s ease all 0s;
  -o-transition: 0.3s ease all 0s;
  transition: 0.3s ease all 0s;
}

.card-item__img img {
  display: block;
  width: 100%;
  height: auto;
}

.card-item__rect {
  padding: 5px;
}

.card-item__rect::before {
  content: "";
  border-radius: 40px;
  background: #69692c;
  display: block;
  width: 30px;
  height: 10px;
}

.card-item__body {
  padding: 0 20px 32px;
  -webkit-transition: 0.3s ease all 0s;
  -o-transition: 0.3s ease all 0s;
  transition: 0.3s ease all 0s;
}

.card-item__name {
  font-size: 16px;
  line-height: 24px;
  margin-bottom: 23px;
  -webkit-transition: 0.3s ease all 0s;
  -o-transition: 0.3s ease all 0s;
  transition: 0.3s ease all 0s;
}

.card-item__table {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 0 -5px;
}

.card-item__column {
  padding: 0 5px;
}

.card-item__details {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 124px;
          flex: 0 0 124px;
}

.card-item__price {
  font-weight: 700;
  font-size: 20px;
  line-height: 36px;
  white-space: nowrap;
  -webkit-transition: 0.3s ease all 0s;
  -o-transition: 0.3s ease all 0s;
  transition: 0.3s ease all 0s;
}

.card-item__button {
  border-top: none;
  width: 100%;
  height: 54px;
}

.card-item__button:hover {
  background: #69692c;
}

.details {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 12px;
  line-height: 18px;
  white-space: nowrap;
}

.details__headline {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
  color: #686868;
  padding-right: 5px;
}

.details__headline .headline__title {
  margin-bottom: 4px;
}

.details__attribute .attribute__text {
  margin-bottom: 4px;
}

.slick-arrow {
  position: absolute;
  z-index: 1;
  top: 0;
  right: 0;
  background: #69692c;
  border: 1px solid #444;
  width: 35px;
  height: 35px;
  font-size: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  cursor: pointer;
  -webkit-transition: 0.3s ease all 0s;
  -o-transition: 0.3s ease all 0s;
  transition: 0.3s ease all 0s;
}

.slick-arrow:hover {
  background: rgba(105, 105, 44, 0.5);
  border-color: rgba(105, 105, 44, 0.5);
}

.slick-arrow:focus {
  outline: none;
}

.slick-arrow::before {
  content: "";
  display: block;
  width: 21px;
  height: 13px;
  background: url(../img/icons/catalog-arrow.svg) no-repeat;
}

.slick-prev {
  right: 55px;
}

.slick-next::before {
  -webkit-transform: rotate(180deg);
      -ms-transform: rotate(180deg);
          transform: rotate(180deg);
}

.slick-disabled {
  cursor: not-allowed;
  background: transparent;
}

.slick-disabled:hover {
  border-color: #444;
  background: transparent;
}

.slick-dots {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.slick-dots li button {
  font-size: 0;
  background: #c4c4c4;
  border: none;
  height: 4px;
  width: 100%;
}

.slick-dots li button:focus {
  outline: none;
}

.slick-dots li.slick-active button {
  background: #fff;
}

@media screen and (min-width: 768px) {
  .catalog__cards .slick-list {
    -webkit-mask-image: -webkit-gradient(linear, left top, right top, color-stop(81.77%, #0b0b0b), color-stop(96%, rgba(11, 11, 11, 0)));
    -webkit-mask-image: linear-gradient(to right, #0b0b0b 81.77%, rgba(11, 11, 11, 0) 96%);
            mask-image: -webkit-gradient(linear, left top, right top, color-stop(81.77%, #0b0b0b), color-stop(96%, rgba(11, 11, 11, 0)));
            mask-image: linear-gradient(to right, #0b0b0b 81.77%, rgba(11, 11, 11, 0) 96%);
    overflow-y: visible;
  }

  .catalog__cards .slick-track {
    min-height: 548px;
  }

  .card-item:hover {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 392px;
            flex: 0 0 392px;
  }

  .card-item:hover .card-item__left {
    left: 11px;
  }

  .card-item:hover .card-item__img {
    padding-bottom: 11px;
    max-width: 286px;
  }

  .card-item:hover .card-item__right {
    right: 11px;
  }

  .card-item:hover .card-item__body {
    padding: 0 24px 36px;
  }

  .card-item:hover .card-item__name {
    font-size: calc(12px + 8 * ((100vw - 320px) / (1440 - 320)));
    line-height: calc(30 / 20);
    margin-bottom: 18px;
  }

  .card-item:hover .card-item__details {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 126px;
            flex: 0 0 126px;
  }

  .card-item:hover .details__headline .headline__title,
  .card-item:hover .details__attribute .attribute__text {
    margin-bottom: 7px;
  }

  .card-item:hover .card-item__price {
    font-size: calc(14px + 16 * ((100vw - 320px) / (1440 - 320)));
    line-height: calc(45 / 30);
  }

  .card-item:hover .card-item__button {
    background: #69692c;
  }
}

@media screen and (max-width: 1440px) {
  .main-offer__title {
    font-size: calc(30px + 30 * ((100vw - 320px) / (1440 - 320)));
    line-height: calc(66 / 60);
  }

  .main-offer__text {
    font-size: calc(14px + 2 * ((100vw - 320px) / (1440 - 320)));
    line-height: calc(24 / 16);
  }

  .card-item__name {
    font-size: calc(12px + 4 * ((100vw - 320px) / (1440 - 320)));
    line-height: calc(24 / 16);
  }

  .card-item__price {
    font-size: calc(14px + 6 * ((100vw - 320px) / (1440 - 320)));
    line-height: calc(36 / 20);
  }

  .details {
    font-size: calc(10px + 2 * ((100vw - 320px) / (1440 - 320)));
    line-height: calc(18 / 12);
  }
}

@media screen and (max-width: 1200px) {
  .first-screen__aim {
    right: -20.8%;
    top: -28.4%;
  }

  .aim__first {
    width: 638px;
    height: 572px;
  }

  .aim__first::before {
    width: 638px;
    height: 572px;
  }

  .aim__first::after {
    width: 498px;
    height: 500px;
  }

  .aim__second::before {
    width: 388px;
    height: 386px;
  }

  .aim__second::after {
    width: 292px;
    height: 292px;
  }
}

@media screen and (max-width: 991px) {
  .first-screen__aim {
    top: -21.4%;
  }

  .main-offer__title {
    margin-bottom: 22px;
  }

  .main-offer__wrapper {
    padding: 0;
  }

  .main-offer__text {
    margin-bottom: 22px;
  }

  .aim__first {
    width: 510px;
    height: 457px;
  }

  .aim__first::before {
    width: 510px;
    height: 457px;
  }

  .aim__first::after {
    width: 398px;
    height: 398px;
  }

  .aim__second::before {
    width: 310px;
    height: 310px;
  }

  .aim__second::after {
    width: 233px;
    height: 233px;
  }
}

@media screen and (max-width: 767px) {
  body.lock {
    overflow: hidden;
  }

  .header__body {
    padding: 19px 0;
  }

  .header__burger {
    display: block;
    position: relative;
    width: 21px;
    height: 12px;
    z-index: 5;
    -webkit-transform: rotate(180deg);
        -ms-transform: rotate(180deg);
            transform: rotate(180deg);
    -webkit-transition: 0.3s ease all 0s;
    -o-transition: 0.3s ease all 0s;
    transition: 0.3s ease all 0s;
  }

  .header__burger::before,
  .header__burger::after,
  .header__burger span {
    content: "";
    background-color: #fff;
    position: absolute;
    width: 100%;
    height: 2px;
    left: 0;
    -webkit-transition: 0.3s ease all 0s;
    -o-transition: 0.3s ease all 0s;
    transition: 0.3s ease all 0s;
  }

  .header__burger::before {
    top: 0;
  }

  .header__burger::after {
    bottom: 0;
  }

  .header__burger span {
    width: 15px;
    top: 5px;
  }

  .header__burger.active::before {
    -webkit-transform: rotate(45deg);
        -ms-transform: rotate(45deg);
            transform: rotate(45deg);
    top: 5px;
  }

  .header__burger.active::after {
    -webkit-transform: rotate(-45deg);
        -ms-transform: rotate(-45deg);
            transform: rotate(-45deg);
    bottom: 5px;
  }

  .header__burger.active span {
    -webkit-transform: scale(0);
        -ms-transform: scale(0);
            transform: scale(0);
  }

  .header__menu {
    position: fixed;
    top: -100%;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: #0b0b0b;
    padding: 100px 15px 20px;
    -webkit-transition: 0.3s ease all 0s;
    -o-transition: 0.3s ease all 0s;
    transition: 0.3s ease all 0s;
  }

  .header__menu.active {
    top: 0;
  }

  .header__list {
    display: block;
    text-align: center;
  }

  .header__item {
    margin: 0px 0px 20px 0px;
  }

  .header__link {
    font-size: 20px;
  }

  .first-screen__point-first {
    width: 35%;
  }

  .first-screen__aim {
    top: -22.4%;
    right: -16.8%;
  }

  .aim__first {
    width: 408px;
    height: 365px;
  }

  .aim__first::before {
    width: 408px;
    height: 365px;
  }

  .aim__first::after {
    width: 318px;
    height: 318px;
  }

  .aim__second::before {
    width: 248px;
    height: 248px;
  }

  .aim__second::after {
    width: 186px;
    height: 186px;
  }

  .catalog__cards .slick-list {
    padding: 40px 0 40px;
  }

  .catalog__cards .slick-track {
    margin: 0 -10px;
    min-height: 423px;
  }

  .catalog__card {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 235px;
            flex: 0 0 235px;
    padding: 0 10px;
  }

  .catalog__card.slick-current {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 294px;
            flex: 0 0 294px;
  }

  .catalog__card.slick-current .card-item__img {
    max-width: 190px;
  }

  .catalog__card.slick-current .card-item__top {
    margin-bottom: 37px;
  }

  .catalog__card.slick-current .card-item__body {
    padding: 0 20px 32px;
  }

  .catalog__card.slick-current .card-item__name {
    margin-bottom: 23px;
    font-size: 16px;
  }

  .catalog__card.slick-current .card-item__details {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 124px;
            flex: 0 0 124px;
  }

  .catalog__card.slick-current .card-item__price {
    font-size: 19px;
  }

  .catalog__card.slick-current .card-item__button {
    background: #69692c;
  }

  .card-item.slick-current .card-item__img {
    padding-top: 25px;
  }

  .card-item__top {
    margin-bottom: 20px;
  }

  .card-item__img {
    max-width: 152px;
  }

  .card-item__body {
    padding: 0 20px 10px;
  }

  .card-item__name {
    margin-bottom: 15px;
  }

  .card-item__details {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 100px;
            flex: 0 0 100px;
  }
}

@media screen and (max-width: 575px) {
  .title-with-points::before {
    width: 18px;
    height: 18px;
    padding-right: 16px;
  }

  .input-wrapper__text {
    padding: 5px 16px;
  }

  .logo__img {
    max-width: 40px;
    padding-right: 10px;
  }

  .logo__img img {
    display: block;
    width: 100%;
    height: auto;
  }

  .logo__text-wrapper {
    max-width: 100px;
  }

  .logo__text-wrapper img {
    display: block;
    width: 100%;
    height: auto;
  }

  .first-screen::after {
    -webkit-transform: translate(0, 50%);
        -ms-transform: translate(0, 50%);
            transform: translate(0, 50%);
  }

  .first-screen__aim {
    right: -20%;
  }

  .main-offer__button {
    margin-right: 11px;
  }

  .aim__first {
    width: 326px;
    height: 292px;
  }

  .aim__first::before {
    width: 326px;
    height: 292px;
  }

  .aim__first::after {
    width: 254px;
    height: 254px;
  }

  .aim__second::before {
    width: 198px;
    height: 198px;
  }

  .aim__second::after {
    width: 148px;
    height: 148px;
  }

  .catalog__cards .slick-track {
    min-height: 320px;
  }

  .catalog__card {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 205px;
            flex: 0 0 205px;
    padding: 0 10px;
  }

  .catalog__card.slick-current {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 235px;
            flex: 0 0 235px;
  }

  .catalog__card.slick-current .card-item__top {
    margin-bottom: 20px;
  }

  .catalog__card.slick-current .card-item__img {
    max-width: 152px;
  }

  .catalog__card.slick-current .card-item__body {
    padding: 0 10px 19px;
  }

  .catalog__card.slick-current .card-item__name {
    font-size: 12px;
  }

  .catalog__card.slick-current .card-item__price {
    font-size: 15px;
  }

  .card-item__img {
    max-width: 125px;
    padding-top: 25px;
  }

  .card-item__body {
    padding: 0 10px 20px;
  }
}

@media screen and (max-width: 450px) {
  .first-screen__offer {
    padding: 25% 0;
  }

  .first-screen__aim {
    top: -11.4%;
    right: -15.8%;
  }

  .aim__first {
    width: 146px;
    height: 146px;
  }

  .aim__first::before {
    width: 146px;
    height: 146px;
  }

  .aim__first::after {
    width: 114px;
    height: 114px;
  }

  .aim__second::before {
    width: 89px;
    height: 89px;
  }

  .aim__second::after {
    width: 64px;
    height: 64px;
  }

  .catalog__cards .slick-list {
    padding: 20px 0 40px;
  }

  .catalog__card {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 165px;
            flex: 0 0 165px;
    padding: 0 10px;
  }

  .catalog__card.slick-current {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 195px;
            flex: 0 0 195px;
  }

  .catalog__card.slick-current .card-item__top {
    margin-bottom: 25px;
  }

  .catalog__card.slick-current .card-item__img {
    max-width: 125px;
  }

  .catalog__card.slick-current .card-item__details {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 97px;
            flex: 0 0 97px;
    font-size: 10px;
    line-height: 15px;
  }

  .catalog__card.slick-current .card-item__name {
    margin-bottom: 10px;
  }

  .catalog__card.slick-current .card-item__price {
    font-size: 14px;
    line-height: 30px;
  }

  .catalog__card.slick-current .card-item__button {
    height: 38px;
    font-size: 14px;
    line-height: 21px;
  }

  .catalog__button {
    width: 100%;
  }

  .card-item__left,
  .card-item__right {
    top: 5px;
  }

  .card-item__point {
    padding: 3px;
  }

  .card-item__point::before {
    width: 6px;
    height: 6px;
  }

  .card-item__img {
    max-width: 105px;
    padding-top: 20px;
  }

  .card-item__rect::before {
    width: 20px;
    height: 6px;
  }

  .card-item__name {
    font-size: 9px;
    line-height: 13px;
  }

  .card-item__details {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 62px;
            flex: 0 0 62px;
  }

  .card-item__price {
    font-size: 11px;
    line-height: 16px;
  }

  .card-item__button {
    font-size: 7px;
    line-height: 10px;
    height: 30px;
  }

  .details {
    font-size: 6px;
    line-height: 9px;
  }
}

.webp .first-screen { background: url(../img/main/bg.webp) no-repeat center/cover; }

.webp .aim__first::before { background: url(../img/main/aim/5.webp) no-repeat center/cover; }

.webp .aim__first::after { background: url(../img/main/aim/1.webp) no-repeat center/cover; }

.webp .aim__second::before { background: url(../img/main/aim/4.webp) no-repeat center/cover; }

.webp .aim__second::after { background: url(../img/main/aim/3.webp) no-repeat center/cover; }