@mixin font($font_name, $file_name, $weight, $style) {
	@font-face {
		font-family: $font_name;
		font-display: swap;
		src: url("../fonts/#{$file_name}.woff") format("woff"), url("../fonts/#{$file_name}.woff2") format("woff2");
		font-weight: #{$weight};
		font-style: #{$style};
	}
}
// libs
@import "libs/slick";

// custom style
@import "fonts";
@import "variables";
@import "basic-style";
@import "input";
@import "animation";
@import "components/_header";
@import "components/_aim";
@import "components/_catalog";
@import "components/_modals";

.first-screen {
	background: url(../img/main/bg.png) no-repeat center/cover;
	position: relative;
	overflow: hidden;

	&::after {
		content: "";
		position: absolute;
		bottom: 0;
		z-index: 2;
		display: block;
		width: 100%;
		height: 308px;
		background: linear-gradient(180deg, rgba(11, 11, 11, 0) 0%, #0b0b0b 83.77%);

		@media screen and (max-width: 575px) {
			transform: translate(0, 50%);
		}
	}

	&__container {
		position: relative;
	}

	&__offer {
		position: relative;
		z-index: 3;
		padding: 13.1% 0;
		max-width: 600px;

		@media screen and (max-width: 450px) {
			padding: 25% 0;
		}
	}

	&__absolute {
		z-index: 1;
		position: absolute;
	}

	&__point-first {
		top: 24.7%;
		left: 12px;
		opacity: 0;
		transform: translate(300%, -50%);
		width: 26.5%;
		transition: 0.8s ease all 0s;

		@media screen and (max-width: 767px) {
			width: 35%;
		}

		&.active {
			opacity: 1;
			transform: translate(0, -50%);
		}

		img {
			display: block;
			width: 100%;
			height: auto;
		}
	}

	&__point-second {
		right: 15px;
		bottom: 56px;
		width: 55.7%;
		opacity: 0;
		transform: translate(-300%, 0);
		transition: 0.8s ease all 0.3s;

		&.active {
			transform: translate(0, 0);
			opacity: 1;
		}

		img {
			display: block;
			width: 100%;
			height: auto;
		}
	}

	&__aim {
		right: -14.8%;
		top: -33.4%;

		@media screen and (max-width: 1200px) {
			right: -20.8%;
			top: -28.4%;
		}

		@media screen and (max-width: 991px) {
			top: -21.4%;
		}

		@media screen and (max-width: 767px) {
			top: -22.4%;
			right: -16.8%;
		}

		@media screen and (max-width: 575px) {
			right: -20%;
		}

		@media screen and (max-width: 450px) {
			top: -11.4%;
			right: -15.8%;
		}
	}
}

.main-offer {
	&__title {
		font-weight: 700;
		font-size: 60px;
		line-height: 66px;
		margin-bottom: 50px;
		opacity: 0;
		transform: translate(0, -100%);
		transition: 1s ease all 0s;

		@media screen and (max-width: 1440px) {
			font-size: calc(30px + 30 * ((100vw - 320px) / (1440 - 320)));
			line-height: calc(66 / 60);
		}

		@media screen and (max-width: 991px) {
			margin-bottom: 22px;
		}
	}

	&__wrapper {
		padding: 0 85px 0 103px;

		@media screen and (max-width: 991px) {
			padding: 0;
		}
	}

	&__text {
		margin-bottom: 69px;
		font-size: 16px;
		line-height: 24px;
		opacity: 0;
		transform: translate(0, -300%);
		transition: 1s ease all 0s;

		@media screen and (max-width: 1440px) {
			font-size: calc(14px + 2 * ((100vw - 320px) / (1440 - 320)));
			line-height: calc(24 / 16);
		}

		@media screen and (max-width: 991px) {
			margin-bottom: 22px;
		}
	}

	&__buttons {
		display: flex;
		opacity: 0;
		transform: translate(0, -300%);
		transition: 1s ease all 0s;
	}

	&__button {
		margin-right: 40px;

		@media screen and (max-width: 575px) {
			margin-right: 11px;
		}

		&:last-child {
			margin-right: 0;
		}
	}

	&.active {
		.main-offer__title,
		.main-offer__text,
		.main-offer__buttons {
			opacity: 1;
			transform: translate(0, 0);
		}
	}
}

.conditions {
	padding: 93px 0;
	overflow: hidden;

	@media screen and (max-width: 767px) {
		padding: 30px 0;
	}

	@media screen and (max-width: 575px) {
		padding-top: 22px;
	}

	&__container {
	}

	&__row {
		display: flex;
		justify-content: space-between;
		margin: 0 -15px;
		@media screen and (max-width: 1200px) {
			padding-bottom: 120px;
		}

		@media screen and (max-width: 767px) {
			display: block;
			margin: 0;
			padding-bottom: 50px;
		}
	}

	&__column {
		flex: 0 0 50%;
		padding: 0 15px;

		@media screen and (max-width: 767px) {
			padding: 0;
			flex: 1 1 100%;
		}
	}

	&__title {
	}

	&__text {
		padding-bottom: 60px;
		line-height: calc(22 / 14);

		@media screen and (max-width: 767px) {
			padding-bottom: 20px;
			line-height: calc(21 / 14);
		}
	}

	&__buttons {
		display: flex;
	}

	&__button {
		margin-right: 40px;

		&:last-child {
			margin-right: 0;
		}

		@media screen and (max-width: 450px) {
			margin-right: 11px;
		}
	}

	&__img {
		img {
			@media screen and (max-width: 1200px) {
				max-width: 500px;
			}
			@media screen and (max-width: 767px) {
				max-width: 400px;
			}
		}
	}

	&__features {
	}
}
.features-conditions {
	display: flex;
	margin: 0 -30px;

	@media screen and (max-width: 991px) {
		margin: 0 -15px;
	}

	@media screen and (max-width: 767px) {
		margin: 0 -5px;
	}

	@media screen and (max-width: 575px) {
		display: block;
		margin: 0;
	}

	&__item {
		flex: 0 0 33%;
		padding: 0 30px;

		@media screen and (max-width: 991px) {
			padding: 0 15px;
		}

		@media screen and (max-width: 767px) {
			padding: 0 5px;
			text-align: center;
		}

		@media screen and (max-width: 575px) {
			padding: 20px;
		}
	}

	&__icon {
		margin-bottom: 18px;

		@media screen and (max-width: 575px) {
			margin-bottom: 14px;
		}
	}

	&__title {
		font-weight: 700;
		font-size: 20px;
		line-height: 30px;
		margin-bottom: 18px;

		@media screen and (max-width: 575px) {
			margin-bottom: 14px;
		}
	}

	&__text {
		font-size: 14px;
		line-height: 22px;
	}
}
