// !Popup
.popup {
    position: fixed;
    width: 100%;
    height: 100%;
    background: rgba(11, 11, 11, 0.8);
    top: 0;
    left: 0;
    opacity: 0;
    z-index: 6;
    visibility: hidden;
    overflow-y: auto;
    overflow-x: hidden;
    transition: 0.8s ease all 0s;

    &.open {
        opacity: 1;
        visibility: visible;

        .popup__content {
            transform: perspective(600px) translate(0, 0) rotateX(0deg);
            opacity: 1;
        }
    }

    &__body {
        min-height: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 30px 10px;

        @media screen and (max-width: 450px) {
            padding: 30px 0;
        }
    }

    &__content {
        background: $card-color;
        color: #fff;
        padding: 60px 40px 64px;
        width: 100%;
        max-width: 950px;
        position: relative;
        opacity: 0;
        transform: translate(0, -100%);
        transition: 0.8s ease all 0s;

        @media screen and (max-width: 767px) {
            padding: 25px 10px 60px;
        }
    }

    &__close {
        position: absolute;
        top: 25px;
        right: 27px;

        @media screen and (max-width: 767px) {
            top: 15px;
            right: 7px;
        }
    }
}

// !Tables
.table-content {
    &__title {
        text-align: center;
        font-weight: 700;
        font-size: 24px;
        line-height: 36px;
        margin-bottom: 40px;

        @media screen and (max-width: 1440px) {
            font-size: calc(20px + 4 * ((100vw - 320px) / (1440 - 320)));
            line-height: calc(36 / 24);
        }

        @media screen and (max-width: 767px) {
            margin-bottom: 25px;
        }
    }
}
.size-table {
    display: flex;
    text-align: center;

    &__column {
        flex: 0 0 20%;
        display: flex;
        flex-direction: column;
        margin: 0 -4px;
    }

    &__title {
        font-size: 14px;
        line-height: 21px;
        padding: 20px 4px;
        border-top: 1px solid #313131;
        border-bottom: 1px solid #313131;
        display: flex;
        align-items: center;
        justify-content: center;
        flex: 1 1 auto;

        @media screen and (max-width: 1440px) {
            font-size: calc(10px + 4 * ((100vw - 320px) / (1440 - 320)));
            line-height: calc(21 / 14);
        }
    }

    &__text {
        font-size: 18px;
        line-height: 27px;
        padding: 10px 0;

        @media screen and (max-width: 1440px) {
            font-size: calc(16px + 2 * ((100vw - 320px) / (1440 - 320)));
            line-height: calc(27 / 18);
        }

        &:nth-child(odd) {
            background: #191919;
        }
    }
}

// !Delivery
.delivery-content {
    &__title {
        font-weight: 600;
        font-size: 38px;
        line-height: 57px;
        padding-bottom: 39px;

        @media screen and (max-width: 1440px) {
            font-size: calc(20px + 18 * ((100vw - 320px) / (1440 - 320)));
            line-height: calc(57 / 38);
        }

        @media screen and (max-width: 767px) {
            padding-bottom: 25px;
        }
    }

    &__wrapper {
        padding-bottom: 40px;

        @media screen and (max-width: 767px) {
            padding-bottom: 32px;
        }
    }

    &__subtitle {
        font-weight: 700;
        font-size: 22px;
        line-height: 33px;
        padding-bottom: 20px;

        @media screen and (max-width: 1440px) {
            font-size: calc(18px + 4 * ((100vw - 320px) / (1440 - 320)));
            line-height: calc(33 / 22);
        }

        @media screen and (max-width: 767px) {
            padding-bottom: 12px;
        }
    }

    &__text {
        font-size: 14px;
        line-height: 22px;
    }
}

// !Request
.request-content {
    // .request-content__title
    &__title {
        margin-bottom: 20px;
    }

    &__text {
        margin-bottom: 40px;
        max-width: 558px;
    }

    .mail__row {
        margin: 0 -15px;
        align-items: flex-end;
    }

    .input-wrapper {
        margin-bottom: 20px;
        flex: 1 1 33%;
        padding: 0 15px;
        @media screen and (max-width: 767px) {
            flex: 1 1 auto;
        }

        @media screen and (max-width: 575px) {
            margin-bottom: 15px;
        }

        @media screen and (max-width: 450px) {
            flex: 1 1 100%;
        }
    }

    .input-wrapper--textarea {
        flex: 1 1 auto;

        @media screen and (max-width: 575px) {
            flex: 0 0 100%;
            margin-top: 40px;
        }
    }

    .input-wrapper--button {
        flex: 0 1 auto;

        @media screen and (max-width: 767px) {
            flex: 0 1 auto;
        }

        @media screen and (max-width: 575px) {
            flex: 1;

            .mail__button {
                margin: 20px auto 0;
            }
        }
    }

    .input-wrapper__text {
        max-width: inherit;
    }

    .mail__button {
        margin: 30px auto 0;
        width: 276px;

        @media screen and (max-width: 575px) {
            margin-top: 20px;
        }
    }

    .mail__policy {
        margin: 15px 0 0 0;
        padding: 0;

        @media screen and (max-width: 575px) {
            margin-top: 10px;
        }
    }
}

// !Thanks
.thanks {
    // .thanks__aim
    &__aim {
    }
}

.thanks-content {
    position: relative;
    overflow: hidden;

    &__wrapper {
        position: relative;
        z-index: 2;
    }
    // .thanks-content__title
    &__title {
        margin-bottom: 18px;
    }

    // .thanks-content__text
    &__text {
        font-size: 16px;
        line-height: 24px;

        @media screen and (max-width: 1440px) {
            font-size: calc(14px + 2 * ((100vw - 320px) / (1440 - 320)));
            line-height: calc(24 / 16);
        }
    }

    // .thanks-content__social
    &__social {
        .social__item {
            margin-right: 16px;

            @media screen and (max-width: 767px) {
                padding: 0;
            }

            &:last-child {
                margin-right: 0;
            }

            svg {
                width: 21px;
                height: 21px;
            }
        }
    }

    &__social-items {
        @media screen and (max-width: 767px) {
            margin: 0 !important;
        }
    }

    &__aim {
        top: inherit !important;
        left: inherit !important;
        bottom: -150px;
        right: -136px;

        @media screen and (max-width: 1200px) {
            bottom: -120px;
            right: -106px;
        }

        @media screen and (max-width: 991px) {
            bottom: -100px;
            right: -86px;
        }

        @media screen and (max-width: 767px) {
            .aim__first {
                display: block !important;
            }
        }

        @media screen and (max-width: 575px) {
            .aim__first {
                display: none !important;
            }
        }
    }
}

.social-thanks {
    // .social-thanks__title
    margin-top: 88px;

    @media screen and (max-width: 767px) {
        margin: 62px 0 0;
    }

    &__title {
        margin-bottom: 20px;

        @media screen and (max-width: 767px) {
            margin-bottom: 12px;
        }
    }
}
